name: Greeting
on:
  push:
    branches: 'main'
    paths: 'hello-world-docker-action/**'
  workflow_dispatch: 

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/Checkout@v6
      - name: Hello world action step
        id: hello
        uses: ./hello-world-docker-action
        with:
          who-to-greet: 'Guillermin'
      # Use the output from the `hello` step
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
